requests==2.31.0
openai==1.30.1
gradio==4.22.0
loguru==0.7.2
schedule==1.2.2
markdown2==2.5.1
chromadb==0.4.24
langchainhub==0.1.21
langchain-ollama
tavily-python
langchain
langchain_openai
langchain_core
langchain_community
langchain_chroma
langgraph
langsmith
pandas
langchain_experimental
matplotlib
openpyxl

